<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+79BFBlRJkWciCZe1+zAsgQAAAACAAAAAAAQZgAAAAEAACAAAABkDukj5U9YcKbV3jTKf9u32JG2uBfpYRqqDJtonaZBCwAAAAAOgAAAAAIAACAAAAArFk6cXqX7qWmKMxTdToIHK5MQwCfIxypmJxaykxJAUzAAAAB9BpBqLu5jKMuauX3nTLgCwLGxUZsc4iUpvAEKKuqPV4+4wOHrf7jQQR27BLmfI55AAAAAwJmdp2UyryNOQr1vm9coS/zIZtGeixTFp+b/9i54vbWKumDn1vjDcOfL5Bn7ykB1HgrO9G33aBOoGU08gTvMnQ==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>