@using Inspinia_MVC5;
@using EntitiesServices.Work_Classes;
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">@ViewBag.Greeting</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h atras</small>
                                <strong>Artêmio Molibdênio</strong> Mensagem para <strong>Graciosa Pancada</strong>. <br>
                                <small class="text-muted">3 dias atras às 7:58 pm - 10.06.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h atras</small>
                                <strong>Bazófio Catatônico</strong> Mensagem para <strong>Patápio Longilíneo</strong>. <br>
                                <small class="text-muted">3 dias atras às 7:58 pm - 10.06.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="~/Images/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h atras</small>
                                <strong>Celacanto Botânico</strong> Mensagem para <strong>Pacífico Sossegado</strong>. <br>
                                <small class="text-muted">3 dias atras às 7:58 pm - 10.06.2018</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <i class="fa fa-envelope"></i> <strong>Veja outras mensagens...</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Você tem 16 mensagens
                                <span class="pull-right text-muted small">4 minutos atras</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Boot no servidor
                                <span class="pull-right text-muted small">33 minutos atras</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>Veja todos os alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                @if (SessionMocks.UserCredentials == null)
	            {
                    <a href="@Url.Action("Login", "ControleAcesso")">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Logout", "ControleAcesso")">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                }

            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>