#conteinerFunil{
    padding-bottom:10px;
}

#kanbanContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#txtFunil {
    width: 300px;
    display: inline-block;
}

.conteinerEtapas {
    width: 250px;
    min-height: 250px;
    padding: 5px;
    background-color: #d8d8d83b;
    border-radius: 15px;
    margin: 2px;
}
